.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.1em .7em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #000000;
}

.title {
  font-size: 28px;
  text-decoration: underline;
}

.id {
  background-color: #E30F10;
  color: #fff;
  border-radius: 8px;
  padding: .7em;
  font-size: 16px;
}

.extra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weight {
  margin: 0 12px;
  font-size: 20px;
}

.height {
  margin: 0 12px;
  font-size: 20px;
}